# 5章CSVを読み込む

### 【課題】 test.csvファイルをロードして上記10件を表示してください．
ヒント1：Pandas read_csv()関数を使います．

ヒント2：CSVファイルは，Shift JISです．read_csv()関数にShift JISであることを教えて上げる必要があります．

ヒント3：上記10件については，DataFrameのhead()関数を使うと簡単です．

In [6]:
import pandas as pd

# ここに回答を書いてください．
df = pd.read_csv('test.csv', encoding='Shift JIS')
df.head(10)

  都道府県コード 都道府県名  元号  和暦（年）   西暦（年）    注    人口（総数）     人口（男）     人口（女）
0      00    全国  大正    9.0  1920.0  NaN  55963053  28044185  27918868
1      01   北海道  大正    9.0  1920.0  NaN   2359183   1244322   1114861
2      02   青森県  大正    9.0  1920.0  NaN    756454    381293    375161
3      03   岩手県  大正    9.0  1920.0  NaN    845540    421069    424471
4      04   宮城県  大正    9.0  1920.0  NaN    961768    485309    476459
5      05   秋田県  大正    9.0  1920.0  NaN    898537    453682    444855
6      06   山形県  大正    9.0  1920.0  NaN    968925    478328    490597
7      07   福島県  大正    9.0  1920.0  NaN   1362750    673525    689225
8      08   茨城県  大正    9.0  1920.0  NaN   1350400    662128    688272
9      09   栃木県  大正    9.0  1920.0  NaN   1046479    514255    532224

### 【課題】test.csvの内容を下から10件を表示してください．

In [7]:
# ここに回答を書いてください．
df.tail(10)

,都道府県コード,都道府県名,元号,和暦（年）,西暦（年）,注,人口（総数）,人口（男）,人口（女）
972,40,福岡県,平成,27.0,2015.0,NaN,5101556,2410418,2691138
973,41,佐賀県,平成,27.0,2015.0,NaN,832832,393073,439759
974,42,長崎県,平成,27.0,2015.0,NaN,1377187,645763,731424
975,43,熊本県,平成,27.0,2015.0,NaN,1786170,841046,945124
976,44,大分県,平成,27.0,2015.0,NaN,1166338,551932,614406
977,45,宮崎県,平成,27.0,2015.0,NaN,1104069,519242,584827
978,46,鹿児島県,平成,27.0,2015.0,NaN,1648177,773061,875116
979,47,沖縄県,平成,27.0,2015.0,NaN,1433566,704619,728947
980,1) 沖縄県は調査されなかったため，含まれていない。,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
981,2) 長野県西筑摩群山口村と岐阜県中津川市の境界紛争地域人口（男39人，女34人）は全国に含...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 【課題】下2行の注を削除して，DataFrame変数df2に代入してください．

In [12]:
# ここに回答を書いてください．
df2 = df.drop(df.tail(2).index)

### 【課題】下2行を削除したデータを"deleted.csv"に保存してください．

In [19]:
# ここに回答を書いてください．
df2.to_csv("deleted.csv", encoding='Shift JIS')

### 【課題】下2行を削除したデータ（変数df2）で，人口（総数）を昇順で並び替えてdf_aに保存してください．

In [28]:
# ここに回答を書いてください．
df_a = df2.sort_values(by=['人口（総数）'])
df_a.head()

    都道府県コード 都道府県名  元号  和暦（年）   西暦（年）    注   人口（総数）   人口（男）   人口（女）
287      47   沖縄県  昭和   20.0  1945.0   1)        -       -       -
194      02   青森県  昭和   15.0  1940.0  NaN  1000509  496614  503895
414      30  和歌山県  昭和   35.0  1960.0   2)  1002191  484994  517197
912      30  和歌山県  平成   22.0  2010.0  NaN  1002198  471397  530801
499      17   石川県  昭和   45.0  1970.0  NaN  1002420  480380  522040

### 【課題】下2行を削除したデータ（変数df2）で，人口（総数）を降順で並び替えてください．

In [29]:
# ここに回答を書いてください．
df_b = df2.sort_values(by=['人口（総数）'], ascending=False)
df_b

    都道府県コード 都道府県名  元号  和暦（年）   西暦（年）    注    人口（総数）     人口（男）     人口（女）
619      37   香川県  昭和   55.0  1980.0  NaN    999864    481104    518760
919      37   香川県  平成   22.0  2010.0  NaN    995842    479951    515891
432      00    全国  昭和   40.0  1965.0  NaN  99209137  48692138  50516999
101      05   秋田県  昭和    5.0  1930.0  NaN    987706    495009    492697
557      25   滋賀県  昭和   50.0  1975.0  NaN    985621    481733    503888
..      ...   ...  ..    ...     ...  ...       ...       ...       ...
499      17   石川県  昭和   45.0  1970.0  NaN   1002420    480380    522040
912      30  和歌山県  平成   22.0  2010.0  NaN   1002198    471397    530801
414      30  和歌山県  昭和   35.0  1960.0   2)   1002191    484994    517197
194      02   青森県  昭和   15.0  1940.0  NaN   1000509    496614    503895
287      47   沖縄県  昭和   20.0  1945.0   1)         -         -         -

[976 rows x 9 columns]

### 【課題】df_a、df_bをShift JIS形式のCSVで保存して下さい．

In [27]:
# ここに回答を書いてください．
df_a.to_csv("dfa.csv", encoding='Shift JIS')
df_b.to_csv("dfb.csv", encoding='Shift JIS')